<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <title><%= title %></title>
    <script src="/static/javascripts/amfe-flexible/index.js"></script>
    <script src="/static/javascripts/base.js"></script>
    <script src="/static/javascripts/utils.js"></script>
    <!-- cdn -->
    <script src="https://cdn.bootcss.com/jquery/2.0.3/jquery.js"></script>
    <!-- ui lib -->
    <script src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js"></script>
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.css">

    <link rel="stylesheet" href="/static/stylesheets/style.css" />
    <link rel="stylesheet" href="/static/stylesheets/bass.css">
    <style>
        @import url(/static/stylesheets/global.css);
        /* .main_bg {background-color: #006aff;} */
        .songs header {
            width: 100%;
            font-size: 1.2rem;
            position: relative;
            overflow: hidden;
        }
        .header-content {
            width: 100%;
            height: 100%;
            padding: 2rem;
            background: rgba(0, 0, 0, 0.5);
        }
        .header-info {
            width: 100%;
            height: 12.5rem;
            display: flex;
            padding-top: 20px;
        }
        .header-info__logo {
            width: 12.5rem;
            height: 6rem;
            margin-right: 10px;
        }
        .header-info__logo img {
            width: 100%;
        }
        .header-info__title {
            font-weight: 400;
            font-size: 2rem;
            color: #fff;
        }
        .header-option {
            height: 40px;
            text-align: center;
        }
        .btn {
            display:-moz-box;
            -moz-box-pack:center;
            -moz-box-align:center;

            /* Safari、Opera 以及 Chrome */
            display:-webkit-box;
            -webkit-box-pack:center;
            -webkit-box-align:center;

            /* W3C */
            display:box;
            box-pack:center;
            box-align:center;
            height: 40px;
            width: 12rem;
            min-width: 130px;
            margin: 0 auto;
            padding: 0 20px;
            border-radius: 20px;
            color: #fff;
            font-size: 1.6rem;
            background-color: #006aff;
        }
        .header-player {
            height: 60px;
        }
        .header-bg {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -2;
            filter: blur(36px);
            /* object-fit: cover; */
        }
        .header-bg:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: inherit;
        }
        .content {
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px; 
        }
        .content .songs-list {
            padding-top: 10px;
        }
        .content .songs-list li {
            height: 60px;
            overflow: hidden;
        }
        .songs-list .songs-item__current {
            color: #006aff;
        }
        .songs-item__body {
            display: flex;
            flex-direction: column;
        }
        .songs-item__body p {
            display: flex;
        }
        .songs-item__body span {
            font-weight: 100;
            font-size: 1.3rem;
            color: #777;
        }
        .songs-item__body .songs-item__title {
            font-weight: 400;
            font-size: 1.6rem;
            overflow: hidden;
        }
    </style>
  </head>
  <body>
    <div class="songs">
        <header>
            <div class="header-content" data-id="<%= id%>">
                <div class="header-info">
                    <div class="header-info__logo">
                        <img src="<%= cover_img_url %>" />
                    </div>
                    <h2 class="header-info__title">
                        <%= title %>
                    </h2>
                </div>
                <div class="header-option">
                    <div class="btn main_bg ">play all</div>
                </div>
            </div>
            <div class="header-bg" style="background:url('<%= cover_img_url%>')"></div>
            <div class="header-player" id="header-player">
                <audio controls autoplay src></audio>
            </div>
            <div class="player">
                <button id="plaing">播放/暂停</button>
                <button id="nextSong">上一首</button>
                <button id="preSong">下一首</button>
            </div>
        </header>
        <div class="content">
            <h4>歌单 共<%= songnum %>首</h4>
            <ul class="songs-list" id="songs-list">
                <% tracks.forEach((item, index) => { %>
                    <li class="songs-item" data-id="<%= item.id%>" data-index="<%= index%>">
                        <div class="songs-item__body">
                            <h3 class="songs-item__title" title="<%= item.title %>">
                                <%= item.title %>
                            </h3>
                            <p>
                                <span class="songs-item__artist" title="<%= item.artist %>" data-artistid="<%= item.artist_id%>">
                                    <%= item.artist %>
                                </span>
                                &nbsp;-&nbsp;
                                <span class="songs-item__album" title="<%= item.album %>" data-albumid="<%= item.album_id %>">
                                    <%= item.album %>
                                </span>
                            </p>
                        </div>
                    </li>
                <% }) %>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var currentIndex = 0;
        var $audio = $("#header-player").find("audio");
        var _audio = document.getElementById("header-player").children[0];
        $("#songs-list").on("click", function (event) {
            console.log(event);
            var res = findTargetTag(event, 'ul', 'li');
            if ($(res).hasClass("songs-item__current")) {
                _audio.pause();
                return
            }
            $(this).find("li").removeClass("songs-item__current");
            $(res).addClass("songs-item__current");
            var songid = res.dataset.id.split("_")[1]
            currentIndex = res.dataset.index
            player(songid);
        })
        $("#plaing").on("click", function () {
            if (audio.paused) {
                play("play");
            } else {
                play("pause");
            }
        })
        $("#nextSong").on("click", function () {
            currentIndex-=2;
            nextPlayer()
        })
        $("#preSong").on("click", function () {
            nextPlayer()
        })
        // 监听结束播放事件
        _audio.addEventListener("ended", function () {
            nextPlayer()
        })
        function play (type) {
            var dom = _audio;
            if (type == 'pause') dom.pause();
            else dom.play()
        }
        function player (songid) {
            // 发起ajax请求
            $.ajax({
                url: "/music/song/" + songid,
                success: function (data) {
                    console.log( )
                    $audio.attr("src", data["music_url"]);
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
        function nextPlayer () {
            ++currentIndex;
            var $res = $("#songs-list").find("li").eq(Number(currentIndex));
            $("#songs-list").find("li").removeClass("songs-item__current");
            $res.addClass("songs-item__current");  
            var songid = $res.attr('data-id').split("_")[1];
            player(songid);
        }
    </script>
  </body>
</html>
